<br>
<div class="container position-Config">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control form-control-lg" type="text" [(ngModel)]="searchString">
    <div>
      <input type="text" name="ShopOwner" class="form-control pos-Config-2" disabled=disabled>
    </div> <!--// Bar-Split-->
    <button class="btn btn-success btn-lg btn-block" type="submit">Search</button>
  </form>
  <br>
</div>
<br>
<div class="container" align="center">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col-mb-4" align="center">
      <div class="card" align="center" style="width: 18rem;">
        <img src="assets/shopimages/shop.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text...</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div> <!-- Card 1 -->
    <div class="col-mb-4" align="center">
      <div class="card" style="width: 18rem;">
        <img src="assets/shopimages/shop.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text...</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div> <!-- Card 2 -->
    <div class="col-mb-4" align="center">
      <div class="card" style="width: 18rem;" align="center">
        <img src="assets/shopimages/shop.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text...</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div> <!-- Card 3 -->
  </div>
</div>
<br>
