<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Add New Shop</h1>
      <p class="lead">This is a modified jumbotron that ...</p>
    </div>
  </div>
  <form #newShop="ngForm" (ngSubmit)="addNewShop(newShop.value)">
    <div class="form-group">
      <input type="text" name="shopName" placeholder="Shop Name..." [(ngModel)]="shopName"
             class="form-control container">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="inputAddress" placeholder="Address">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="inputAddress2" placeholder="Complement - Address">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="email" class="form-control" id="inputEmail4" placeholder="City">
      </div>
      <div class="form-group col-md-3">
        <input type="password" class="form-control" id="inputPassword4" placeholder="State">
      </div>
      <div class="form-group col-md-3">
        <input type="password" class="form-control" id="inputPassword4" placeholder="Pin Code">
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="services" placeholder="Add business services (separated by comma (,)">
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
</div>
