<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="home">Shop Globe</a>
  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
          class="navbar-toggler"
          data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="allshops">All Shops</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="addnewshop">Add New Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="shopdetails">Shop Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="aboutus">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contactus">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
